<h1>Nova encomenda</h1>
<h4>Dados da encomenda</h4>
<p>Preco: <%= @order.price %></p>
<p>Data de entrega: <%= @order.deadline %></p>
<p>Descricao: <%= @order.description %></p>
<p>Usuario: <%= @user.email %></p>