<p>Caro, <%= @user.email %></p>

<p>Voce criou uma nova encomenda.</p>

<h4>Dados da encomenda</h4>
<p>Preco: <%= @order.price %></p>
<p>Data de entrega: <%= @order.deadline %></p>
<p>Descricao: <%= @order.description %></p>


<p>Em breve, voce rebera um novo email a respeito do status da encomenda.</p>

<p>Saiba mais na area do cliente no site da Joia da Europa, ou entre em contato via telefone.</p>

<p>Atenciosamente,</p>

<p>Zezinho Joia da Europa</p>